$color-white: #fff;
$color-black: #444;

$border-color-lighter: #eee;
$border-color-light: #ddd;
$border-color-dark: #ccc;
$border-color-red: #f00;

$body-background-color: #f9f9f9;
$body-font-color: #283e55;

$font-color-light: #777;

$footer-background-color: #334e69;

$voting-standing: linear-gradient(to right, #e0e9ee, #cdd7dd);
$voting-standing-symbol: #bdc5ca;

$voting-ongoing: linear-gradient(to right, #fdd7bf, #f894a4);
$voting-ongoing-symbol: #f894a4;

$voting-closed: linear-gradient(to right, #00c6ff, #0072ff);
$voting-closed-symbol: #0072ff;

$voting-symbol: linear-gradient(45deg, #ffe9fb, #e4fef6);
