header .container__title {
  font-size: 2rem;
}

main {
  .container__title,
  .container__title {
    flex: 1 0 100%;
    font-family: "Lexend Deca", sans-serif;
    font-size: 1.5rem;
    margin-left: 1%;
  }
}
