@import "~open-color/open-color";

header {
  background: $color-white;
  padding: 1em 2.6em;

  .container {
    float: left;
    margin-top: 2px;
  }

  nav {
    text-align: right;
  }
}

.pull-right {
  display: flex;
  justify-content: flex-end;
}
